<div class="center jumbotron">
  <h1>Tous les Programmes</h1>
<p>
<%= link_to "  Ajouter un nouvel programme", new_programme_path, class: "btn btn-primary glyphicon glyphicon-plus btn-xlarge"%>
</p>

<table>
  <tr>
    <th># id </th>
    <th> Titre </th>
    <th> Type </th>
    <th> Classification </th>
  </tr>

  <% @programmes.each do |programme| %>
  <tr>
    <td> <%= programme.id %> </td>
    <td> <%= programme.titre %> </td>
    <td> <%= programme.type_programme %> </td>
    <td> <%= programme.classification %> </td>
    <td> <%= link_to "Afficher", programme_path(programme) %>  </td>
    <td>  | <%= link_to "Modifier", edit_programme_path(programme) %>  </td>
    <td>  | <%= link_to "Supprimer", programme_path(programme), method: :delete, data: {confirm: "Êtes-vous sûr?"} %> </td>
  </tr>
  <%end%>

</table>

</div>
