<div class="center jumbotron">
  <div class="row">
    <div class="col-sm-6" style="border: 0px solid black;">
      <h2> Tous les Diffusions</h2>
    </div>

    <div class="col-sm-6 btn-add" style="border: 0px solid black;">
      <%= link_to "    Ajouter une nouvelle diffusion", new_diffusion_path, class: "btn btn-primary glyphicon glyphicon-plus btn-xlarge"%>
    </div>
  </div>






  <div class="row">
    <div class="col-md-12">
      <%= form_for @diffusion = Diffusion.new,
      html: {class: "form-horizontal", role: "form"} do |f| %>

      <div class="form-group">
        <div class="control-label col-sm-3" style="border: 0px solid black;">
          <%= f.label :jour %>
        </div>

        <div class="col-sm-2" style="border: 0px solid black;">
          <%= f.select :jour, options_for_select([['Lundi', 'Lundi'],
            ['Mardi','Mardi'],
            ['Mercredi','Mercredi'],
            ['Jeudi','Jeudi'],
            ['Vendredi','Vendredi'],
            ['Samedi','Samedi'],
            ['Dimanche','Dimanche']]), html: {class: "form-control test", id: "test", autofocus: true}%>
        </div>

        <div class="control-label col-sm-1" style="border: 0px solid black;">
          <%= f.label :heure %>
        </div>

        <div class="col-sm-2" style="border: 0px solid black;">
          <%= f.select :heure, options_for_select([['11:00','11:00'],
            ['11:30','11:30'],
            ['11:40','11:40'],
            ['12:00','12:00'],
            ['12:30','12:30'],
            ['13:00','13:00']]), class: "form-control test", autofocus: true%>
        </div>

        <div class="col-sm-offset-1 col-sm-2" style="border: 0px solid black;">
          <%= link_to "    Filtrer les diffusions",
          diffusions_path(:jour => "Mercredi", :heure => "11:30"),
          class: "btn btn-info glyphicon glyphicon-filter btn-filter-diffusion",
            :onclick => 'get_selected_day()',
            :id => 'link_to_diffusions'%>
          <!-- <button onclick="get_selected_day()">Try it</button> -->
          <!-- <%= f.submit class: 'btn btn-info glyphicon glyphicon-filter btn-filter-diffusion' %> -->
        </div>
      </div>


      <div class="form-group">

      </div>

      <% end%>
    </div>
  </div>

<table class="table tb">
  <thead>
    <tr>
      <th># id </th>
      <th> Programme </th>
      <th> Chaine </th>
      <th> Date & Heure </th>
      <th>  </th>
      <th>  </th>
      <th>  </th>
    </tr>
  </thead>

  <tbody>
  <% @diffusions.each do |diffusion| %>
    <tr>
      <td> <%= diffusion.id %> </td>
      <td> <%= @programmes.find(diffusion.programme_id).titre%> </td>
      <td> <%= @chaines.find(diffusion.chaine_id).nom%> </td>
      <td> <%= diffusion.jour %> à <%= diffusion.heure %> </td>
      <td>  | <%= link_to "Afficher", diffusion_path(diffusion) %>  </td>
      <td>  | <%= link_to "Modifier", edit_diffusion_path(diffusion) %>  </td>
      <td>  | <%= link_to "Supprimer", diffusion_path(diffusion), method: :delete, data: {confirm: "Êtes-vous sûr?"} %> </td>
    </tr>
  </tbody>
  <%end%>
</table>

</div>

<!-- <p>If you click on me, I will disappear.</p>
<p>Click me away!</p>
<p>Click me too!</p> -->

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
  $("p").click(function(){
     valeur= $("#diffusion_jour").val()
     alert(valeur);
  });
});

function get_selected_day(){
  var jour = document.getElementById('diffusion_jour').value
  var heure = document.getElementById('diffusion_heure').value
  var href = "/diffusions?heure="+heure+"&amp;jour="+jour
  var link_to = document.getElementById('link_to_diffusions').setAttribute("href", href);

  // alert(jour);
}
</script>
