<div class="center jumbotron">
  <div class="row">
    <div class="col-sm-6">
      <h2> Tous les Réalisateurs</h2>
    </div>

    <div class="col-sm-6 btn-add">
      <%= link_to "    Ajouter un nouvel réalisateur", new_realisateur_path, class: "btn btn-primary glyphicon glyphicon-plus btn-xlarge"%>
    </div>
  </div>


  <div align="center">
    <%= will_paginate %>
  </div>

<table class="table tb">
  <thead>
    <tr>
      <th># id </th>
      <th> Nom </th>
      <th>  </th>
      <th>  </th>
      <th>  </th>
    </tr>
  </thead>

  <tbody>
    <% @realisateurs.each do |realisateur| %>
    <tr>
      <td> <%= realisateur.id %> </td>
      <td> <%= realisateur.nom %> </td>
      <td>  | <%= link_to "Afficher", realisateur_path(realisateur) %>  </td>
      <td>  | <%= link_to "Modifier", edit_realisateur_path(realisateur) %>  </td>
      <td>  | <%= link_to "Supprimer", realisateur_path(realisateur), method: :delete, data: {confirm: "Êtes-vous sûr?"} %> </td>
    </tr>
  <%end%>
  </tbody>
</table>
</div>
